@import "tailwindcss";

body {
    overflow-x: hidden;
}

@theme {
    --color-limegreen-500: #4ade80;
    --color-limegreen-600: #22c55e;
    --color-limegreen-700: #16a34a;
    --color-limegreen-800: #15803d;
    --color-limegreen-900: #166534;
    --color-forestgreen-500: #22c55e;
    --color-forestgreen-600: #16a34a;
    --color-forestgreen-700: #15803d;
    --color-forestgreen-800: #166534;
    --color-forestgreen-900: #166534;
    --color-mintgreen-100: #bbf7d0;
    --color-mintgreen-200: #86efac;
    --color-mintgreen-500: #10b981;
    --color-mintgreen-600: #059669;
    --color-mintgreen-700: #047857;
    --color-mintgreen-800: #065f46;
    --color-mintgreen-900: #04472f;
}